<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{fragment :: html_header}"></div>
    <title>Edit Profile</title>
</head>
<body>
    <div class="container-fluid">
        <!--  Navbar -->
        <div th:insert="~{fragment :: html_navbar}"></div>
        <div class="row">
            <!-- Sidebar -->
            <div class="col-sm-4">
                <article>
                    <div th:insert="~{fragment :: html_sidebar}"></div>
                </article>
            </div>
            <!-- Content right -->
            <div class="col-md-8">
                <aside>
                    <h3>Edit Profile</h3>
                    <div class="dropdown-divider"></div>
                    <div class="card mt-2 mt-3">
                        <div class="card-header">Profile Form Elements</div>
                        <div class="card-body">
                            <form class="form-horizontal" th:action="@{/member/update-information}" method="post" th:object="${member}">
                                <div class="form-group">
                                    <div class="col-lg-11">
                                        <input class="form-control" type="hidden" id="memberId" name="memberId"
                                               th:field="*{memberId}" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">First name</label>
                                    <div class="col-lg-11">
                                        <input class="form-control" type="text" id="memberFirstName" name="memberFirstName"
                                               th:field="*{firstName}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Last name</label>
                                    <div class="col-lg-11">
                                        <input class="form-control" type="text" id="memberLastName" name="memberLastName"
                                                th:field="*{lastName}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-11">
                                        <input class="form-control" type="hidden" id="memberPassword" name="memberPassword"
                                               th:field="*{password}" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email</label>
                                    <div class="col-lg-11">
                                        <p th:utext="*{email}">
                                    </div>
                                    <input class="form-control" type="hidden" id="memberEmail" name="memberEmail"
                                           th:field="*{email}" >
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Phone</label>
                                    <div class="col-md-11">
                                        <input class="form-control" type="tel" id="memberPhoneNumber"
                                               name="memberPhoneNumber" th:field="*{phone}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Description</label>
                                    <textarea class="form-control col-md-11" id="memberDescription" name="memberDescription"
                                             th:field="*{description}"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-11">
                                        <button type="submit" class="btn btn-success" onclick="if (!(confirm('Are you sure you want to change your information?'))) return false">Submit Button</button>
                                        <span></span>
                                        <button type="reset" class="btn btn-success">Reset Button</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        <th:block th:insert="~{fragment :: html_footer}"></th:block>
    </div>
</body>
</html>