<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Profile</title>
    <div th:insert="~{fragment :: html_header}"></div>
</head>
<body>
<div class="container-fluid">
    <!-- Navbar -->
    <th:block th:insert="~{fragment :: html_navbar}"></th:block>
    <div class="row">
        <!-- Sidebar -->
        <div class="col-sm-4">
            <th:block th:insert="~{fragment :: html_sidebar}"></th:block>
        </div>
        <!-- Content right -->
        <div class="col-sm-8">
            <aside>
                <h3>View Profile</h3>
                <div class="dropdown-divider"></div>
                <div class="card mt-2 mt-3">
                    <div class="card-header">Profile Form Elements</div>
                    <div class="card-body">
                        <div class="form-group">
                            <strong class="col-lg-3 control-label">First name: </strong>
                            <br>
                            <span class="col-md-11" th:text="${member.firstName}"></span>
                        </div>
                        <div class="form-group">
                            <strong class="col-lg-3 control-label">Last name: </strong>
                            <br>
                            <span class="col-md-11" th:text="${member.lastName}"></span>
                        </div>
                        <div class="form-group">
                            <strong class="col-lg-3 control-label">Email: </strong>
                            <br>
                            <span class="col-md-11" th:text="${member.email}"></span>
                        </div>
                        <div class="form-group">
                            <strong class="col-md-3 control-label">Phone: </strong>
                            <br>
                            <span class="col-md-11" th:text="${member.phone}"></span>
                        </div>
                        <div class="form-group">
                            <strong class="col-md-3 control-label">Description: </strong>
                            <br>
                            <span class="col-md-11" th:text="${member.description}"></span>
                        </div>
                        <div class="form-group">
                            <a th:href="@{/member/show-form-update(id=${member.id})}"
                               class="btn btn-success btn-sm"
                               onclick="if (!(confirm('Do you want to update your information?'))) return false">
                                Update
                            </a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <th:block th:insert="~{fragment :: html_footer}"></th:block>
</div>
</body>
</html>